<!DOCTYPE html >
<html >

<head>
<title>iframe Example</title>
</head>
<body>

 <iframe frameborder="0" scrolling="no" width="1000" height="500px" 
   name="imgbox" id="imgbox" style="border:1px solid black;">
   
 </iframe><br />
 
 <a href="images/Earth partnerships.jpg" target="imgbox">Red Ball</a><br />
 <a href="images/3E_What_we_do.jpg" target="imgbox">Floating Ball</a><br />
 <a href="blooddonation.html" target="imgbox">Eight Ball</a>

<div id="aaa">
abfdhunvfudfi
</div>

</body>

</html>          