<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Http://wowslider.com/" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/1366768565098.jpg" alt="1366-768-565098" title="" id="wows1_0"/></li>
		<li><img src="data1/images/blood_donor_day_poster_by_mohamedraoofd53k76e.jpg" alt="blood_donor_day_poster_by_mohamedraoof-d53k76e" title="" id="wows1_1"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/maxresdefault.jpg" alt="http://wowslider.net/" title="" id="wows1_2"/></a></li>
		<li><img src="data1/images/stretched565097.jpg" alt="stretched-565097" title="" id="wows1_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title=""><span><img src="data1/tooltips/1366768565098.jpg" alt="1366-768-565098"/>1</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/blood_donor_day_poster_by_mohamedraoofd53k76e.jpg" alt="blood_donor_day_poster_by_mohamedraoof-d53k76e"/>2</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/maxresdefault.jpg" alt="maxresdefault"/>3</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/stretched565097.jpg" alt="stretched-565097"/>4</span></a>
	</div></div>
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>